<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=True;Connection Timeout=60;Initial Catalog=TestDb;" providerName="System.Data.SqlClient"/>
    <add name="Postgres" connectionString="Server=127.0.0.1;Port=5432;Database=postgres;User Id=postgres;Password=postgres;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="00:10:00"/>
  </system.transactions>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
